/*Quill editor*/
.ql-container {
  min-height: 100px;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar {
  background-color: #101826;
  border-radius: 10px 10px 0 0;
}

.ql-editor {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  height: 100%;
  background-color: #101826;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff !important;
}

.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff !important;
}

.ql-picker-item {
  color: #000 !important;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: #000000 !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: #000000 !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: #000000 !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: #000000 !important;
  stroke: none;
}

main {
  @apply p-8
}

.label-margin label {
  @apply mb-2;
}
